@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
