@import "../public/fonts/fonts.css";
@import "tailwindcss";

/*필요에 따라 추가해서 쓰시면 됩니다!*/
:root {
  --font-default: "Pretendard", sans-serif;
  /* === 색깔 === */
  --color-beige1: #f9f5e8;
  --color-beige2: #fffdf6; /*조금 더 연한 색*/
  --color-green1: #276d6a;
  --color-green2: #336563;
  --color-yellow: #fcdb66;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray1: #ebebeb;
  --color-gray2: #b4b4b4;
  --color-gray3: #747474;
  --color-pink: #ff9173;

  --radius-s: 2px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-full: 99px;

  /*텍스트 크기*/
  --text-size-10: 40px;
  --text-size-9: 35px;
  --text-size-8: 30px;
  --text-size-7: 20px;
  --text-size-6: 18px;
  --text-size-5: 16px;
  --text-size-4: 15px;
  --text-size-3: 13px;
  --text-size-2: 12px;
  --text-size-1: 8px;

  /*line height*/
  --leading-12: 19px;
  --leading-11: 48px;
  --leading-10: 42px;
  --leading-9: 35px;
  --leading-8: 28px;
  --leading-7: 26px;
  --leading-6: 24px;
  --leading-5: 22px;
  --leading-4: 20px;
  --leading-3: 18px;
  --leading-2: 16px;
  --leading-1: 12px;
  --leading-0: 15px;
}

/* ===========================
   BASE RESET
   =========================== */
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    @apply mx-auto h-screen max-w-[430px];
    font-family: var(--font-default);
    background-color: var(--color-beige1);
    color: var(--color-black);
    scrollbar-gutter: stable;
  }
}

@layer utilities {
  .ring-green1 {
    --tw-ring-color: var(--color-green1);
  }

  /*텍스트*/
  .text-title1 {
    font-size: var(--text-size-10);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-11);
    font-family: var(--font-default);
  }

  .text-title2 {
    font-size: var(--text-size-9);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-10);
    font-family: var(--font-default);
  }

  .text-title3 {
    font-size: var(--text-size-8);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-9);
    font-family: var(--font-default);
  }

  .text-title4 {
    font-size: var(--text-size-6);
    font-weight: var(--font-weight-semibold);
    line-height: var(--leading-5);
    font-family: var(--font-default);
  }

  .text-title5 {
    font-size: var(--text-size-5);
    font-weight: var(--font-weight-semibold);
    line-height: var(--leading-4);
    font-family: var(--font-default);
  }

  .text-caption1 {
    font-size: var(--text-size-7);
    font-weight: var(--font-weight-semibold);
    line-height: var(--leading-6);
    font-family: var(--font-default);
  }

  .text-caption2 {
    font-size: var(--text-size-6);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-5);
    font-family: var(--font-default);
  }

  .text-caption3 {
    font-size: var(--text-size-5);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-3);
    font-family: var(--font-default);
  }

  .text-caption4 {
    font-size: var(--text-size-3);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-2);
    font-family: var(--font-default);
  }

  .text-caption5 {
    font-size: var(--text-size-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-0);
    font-family: var(--font-default);
  }

  .text-body1 {
    font-size: var(--text-size-4);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-3);
    font-family: var(--font-default);
  }

  .text-body2 {
    font-size: var(--text-size-5);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-12);
    font-family: var(--font-default);
  }

  .text-body3 {
    font-size: var(--text-size-6);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-5);
    font-family: var(--font-default);
  }

  .text-body4 {
    font-size: var(--text-size-2);
    font-weight: var(--font-weight-normal);
    line-height: var(--leading-0);
    font-family: var(--font-default);
  }

  /*배경 색상*/
  .bg-beige1 {
    background-color: var(--color-beige1);
  }

  .bg-beige2 {
    background-color: var(--color-beige2);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-gray1 {
    background-color: var(--color-gray1);
  }

  .bg-gray2 {
    background-color: var(--color-gray2);
  }

  .bg-gray3 {
    background-color: var(--color-gray3);
  }

  .bg-green1 {
    background-color: var(--color-green1);
  }

  .bg-green2 {
    background-color: var(--color-green2);
  }

  .bg-yellow {
    background-color: var(--color-yellow);
  }

  /*버튼 텍스트 색상*/
  .btn-text-white {
    color: var(--color-white);
  }

  .btn-text-black {
    color: var(--color-black);
  }

  .btn-text-green1 {
    color: var(--color-green1);
  }

  .btn-text-gray3 {
    color: var(--color-gray3);
  }

  /*텍스트 색상*/
  .text-gray1 {
    color: var(--color-gray1);
  }

  .text-gray2 {
    color: var(--color-gray2);
  }

  .text-gray3 {
    color: var(--color-gray3);
  }

  .text-yellow {
    color: var(--color-yellow);
  }

  .text-black {
    color: var(--color-black);
  }

  .text-green1 {
    color: var(--color-green1);
  }

  .text-green2 {
    color: var(--color-green2);
  }

  .text-white {
    color: var(--color-white);
  }

  /*border*/
  .border-green1 {
    border-color: var(--color-green1);
  }

  .border-green2 {
    border-color: var(--color-green2);
  }

  .border-black {
    border-color: var(--color-black);
  }

  .border-gray1 {
    border-color: var(--color-gray1);
  }

  .border-gray2 {
    border-color: var(--color-gray2);
  }

  .border-gray3 {
    border-color: var(--color-gray3);
  }

  /* radius */
  .rounded-s {
    border-radius: var(--radius-s); /*2px*/
  }

  .rounded-m {
    border-radius: var(--radius-m); /*8px*/
  }

  .rounded-l {
    border-radius: var(--radius-l); /*12px*/
  }

  .rounded-full {
    border-radius: var(--radius-full); /*99px*/
  }

  /* 스크롤바를 숨기는 유틸리티 클래스 */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html {
    scrollbar-gutter: stable;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }

  .animate-shake {
    animation: shake 0.2s ease-in-out 0s 2; /* 0.2초 동안 2번 흔들림 */
  }
}
